@import "tailwindcss";
@import "./styles/theme.css";

/* .credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 0;
  right: 0;
  font-size: 11px;
  text-align: center;
  width: 100%;
} */

/* .credits a {
  color: #000;
  font-weight: bold;
} */
